<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>stairs</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>
    <a href="/">home</a> <a href="/admin/people">admin</a> <a href="{{ login_url }}">{{ url_linktext }}</a>
    {% block body %}
    {% endblock %}
</body>
</html>


